<h2>Book Details</h2>
<div *ngIf="book">
  <h3>{{ book?.title }}</h3>
  <div>
    <p>Published Year: {{ book?.publishedYear }}</p>
    <p *ngIf="book?.averageStarRating !== undefined">Average Star Rating: {{ book?.averageStarRating?.toFixed(2) }}</p>
    <p *ngIf="!book.averageStarRating">Average Star Rating: Not yet reviewed</p>
  </div>
  <h3>Book Reviews</h3>
  <div *ngIf="reviews.length === 0">
    <p>No reviews available</p>
  </div>
  <ul *ngIf="reviews.length > 0">
    <li *ngFor="let review of reviews">
      <p>Reviewer Name: {{ review.reviewerName }}</p>
      <p>Reviewer Email: {{ review.reviewerEmail }}</p>
      <p>Star Rating: {{ review.stars }}</p>
      <p>Review Description: {{ review.reviewDescription }}</p>
    </li>
  </ul>
</div>
