.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.header h1 {
  font-family: "Ubuntu", sans-serif;
  font-size: 24px;
}

.header img {
  width: 40px;
  height: 40px;
}

.book-list-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
  margin-left: 4%;
  margin-right: 4%;
}

.book-list-title h2 {
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
}

.book-list-title input {
  padding: 5px;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
}

.books-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
  margin-left: 3%;
  margin-right: 3%;
}

.add-button {
  border-radius: 5px;
  border-color: #acacac;
}

.book-card {
  flex: 0 0 calc(25% - 10px);
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.book-card h3 {
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
}

.book-info {
  margin-bottom: 10px;
}

.book-image img {
  width: 100%;
  max-height: 200px;
}

.book-image-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.book-image-placeholder p {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
}
