.book-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
  }
  
  .book-image {
    width: 100px;
    height: 150px;
    border: 1px solid #ccc;
    margin-right: 10px;
  }
  
  .book-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .book-details {
    flex: 1;
  }
  
  .book-details h3 {
    margin-bottom: 5px;
    text-decoration: underline;
    cursor: pointer;
  }
  